.space {
    background: hsla(209, 100%, 47%, 0.1);
    background-image: radial-gradient(hsla(209, 100%, 47%, 1.00) 5%, transparent 0);
    background-size: 30px 30px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.thought-outside {
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.thought-inside {
    background: white;
    border-radius: 50%;
    position: absolute;
}
.thought-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.thought-info {
    position: absolute;
}
.space-breadcrumb {
    margin-bottom: 1px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;

}
