<ol class="breadcrumb space-breadcrumb" style="breadcrumb-divider: none;">
    <li *ngFor="let thought of previousThoughts" class="breadcrumb-item"><a href="#" (click)="selectCurrentThought(thought)">{{thought.text}}</a></li>
    <li class="breadcrumb-item"><a href="#">{{currentThought.text}}</a></li>
</ol>
<div class="space"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)"
    (dblclick)="onMouseDoubleClick($event)"
    >
    <div *ngFor="let thought of thoughts" 
        class="thought-outside" 
        [style.width.px]="thought.width" 
        [style.height.px]="thought.height" 
        [style.left.px]="thought.left" 
        [style.top.px]="thought.top"
        [style.background]="thought.background" 
        draggable="false"
        (mouseup)="thought.onMouseUp()"
        (mouseout)="thought.onMouseOut()"
        (mouseover)="thought.onMouseOver()"
        (wheel)="thought.onWheel($event)"
        > 
        <div 
            draggable="false" 
            class="thought-inside"
            [style.width.px]="thought.width * thought.borderSize"
            [style.height.px]="thought.height * thought.borderSize"
            [style.left.px]="(thought.width * (1 - thought.borderSize)) / 2"
            [style.top.px]="(thought.height * (1 - thought.borderSize)) / 2">
            <div 
                draggable="false" 
                class="thought-text"
                [style.font-size.%]="thought.size * 100"
                (click)="thought.isEditing=true"
                >
                <span *ngIf="!thought.isEditing" [innerText]="thought.text"></span>
                <input 
                    *ngIf="thought.isEditing" type="text" [ngModel]="thought.text"
                    [style.width.px]="thought.width * thought.borderSize * 0.9"
                    (keydown)="thought.onKeyDown($event)"
                    >
            </div>
        </div>
    </div>
    <div class="thought-info" 
        *ngFor="let thought of thoughts"
        [style.left.px]="thought.left + thought.width + 10"
        [style.top.px]="thought.top"                                      
        >
        <div *ngIf="thought.isSelected" class="container">
            <div class="row">
                <button class="btn btn-danger" id="remove-thought">X</button>
            </div>
            <div class="row">
                <button class="btn btn-primary" id="open-thought">Open</button>
            </div>
        </div>
    </div>
    <svg width="100%" height="100%" *ngFor="let line of lines">
        <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="black"/>
    </svg>
</div>
