<div class="space">
    <div *ngFor="let thought of thoughts" 
        class="idea-outside" 
        [style.width.px]="thought.width" 
        [style.height.px]="thought.height" 
        [style.left.px]="thought.left" 
        [style.top.px]="thought.top"
        [style.background]="thought.background" 
        draggable="false"
        (mousedown)="thought.onMouseDown()"
        (mouseup)="thought.onMouseUp()"
        (mousemove)="thought.onMouseMove($event)"
        (mouseout)="thought.onMouseOut()"
        (mouseover)="thought.onMouseOver()"
        > 
        <div 
            draggable="false" 
            class="idea-inside"
            [style.width.px]="thought.width * thought.borderSize"
            [style.height.px]="thought.height * thought.borderSize"
            [style.left.px]="(thought.width * (1 - thought.borderSize)) / 2"
            [style.top.px]="(thought.height * (1 - thought.borderSize)) / 2">
            <div 
                draggable="false" 
                class="idea-text"
                [style.font-size.%]="size * 100"
                >
                {{thought.text}}
            </div>
        </div>
    </div>
</div>
