<div class="space"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)"
    >
    <div *ngFor="let thought of thoughts" 
        class="idea-outside" 
        [style.width.px]="thought.width" 
        [style.height.px]="thought.height" 
        [style.left.px]="thought.left" 
        [style.top.px]="thought.top"
        [style.background]="thought.background" 
        draggable="false"
        (mouseup)="thought.onMouseUp()"
        (mouseout)="thought.onMouseOut()"
        (mouseover)="thought.onMouseOver()"
        (wheel)="thought.onWheel($event)"
        > 
        <div 
            draggable="false" 
            class="idea-inside"
            [style.width.px]="thought.width * thought.borderSize"
            [style.height.px]="thought.height * thought.borderSize"
            [style.left.px]="(thought.width * (1 - thought.borderSize)) / 2"
            [style.top.px]="(thought.height * (1 - thought.borderSize)) / 2">
            <div 
                draggable="false" 
                class="idea-text"
                [style.font-size.%]="thought.size * 100"
                (click)="thought.isEditing=true"
                >
                <span *ngIf="!thought.isEditing" [innerText]="thought.text"></span>
                <input 
                    *ngIf="thought.isEditing" type="text" [ngModel]="thought.text"
                    [style.width.px]="thought.width * thought.borderSize * 0.9"
                    (keydown)="thought.onKeyDown($event)"
                    >
            </div>
        </div>
    </div>
</div>
