<nav class="navbar navbar-light bg-light menu">
    <a class="navbar-brand" href="#">
     <svg width="98" height="33" xmlns="http://www.w3.org/2000/svg">
     <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
     <g>
      <title>background</title>
      <rect fill="none" id="canvas_background" height="35" width="100" y="-1" x="-1"/>
      <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
       <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
      </g>
     </g>
     <g>
      <title>Layer 1</title>
      <text style="cursor: move;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="29" id="svg_1" y="25.833305" x="1.999965" stroke-width="0" stroke="#000" fill="#000000">TH</text>
      <ellipse ry="9.499999" rx="9.499999" id="svg_3" cy="16.833312" cx="49.999953" stroke-width="1.5" stroke="#342dff" fill="#96bcff"/>
      <ellipse ry="9.499999" rx="9.499999" id="svg_6" cy="16.833312" cx="71.499951" stroke-width="1.5" stroke="#342dff" fill="#96bcff"/>
      <line stroke-linecap="null" stroke-linejoin="null" id="svg_7" y2="30.33331" x2="60.499952" y1="2.833313" x1="60.999952" stroke-width="1.5" stroke="#000000" fill="none"/>
      <text style="cursor: move;" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="29" id="svg_8" y="25.833305" x="80.411385" stroke-width="0" stroke="#000" fill="#000000">L</text>
     </g>
    </svg>
    </a>
    <ul class="nav-bar nav">
        <li class="nav-item" *ngIf="!loginService.isLoggedIn"><a href="#" (click)="loginService.signInWithGoogle()">Sign-in</a></li>
        <li class="nav-item" *ngIf="loginService.isLoggedIn"><a href="#" (click)="loginService.signOut()">Sign-out</a></li>
    </ul>
</nav>
<app-space></app-space>
